<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sizwe</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/private.css">
</head>
<body>
    <header>
        <h1>private chat room</h1>
        <h2><%= userName %></h2>
    </header>
    <main>
        <div class="chat-header">

        </div>
        <div id="messages">
            <% roomMessages.forEach((message)=>{ %>
                <div class="message-content <%= message.senderId === userName ? 'sender-me': 'sender-others' %>" id="message-content">
                    <div class="chat-message">
                        <p class="message-sender"><%= message.senderId %></p>
                        <p class="message-text"><%=message.message %></p>
                        <p class="timeStamp"><%=message.timestamp %></p>
                    </div>
                </div>
           <% }) %>
        </div>
        <form onsubmit="sendMessage()">
            <textarea id="message-input" cols="100" rows="2" placeholder="your message"></textarea>
            <button id="sendBtn" type="submit"><i class="fas fa-paper-plane fa-2x" id="arrow-down"></i></button>
        </form>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
const roomId= '<%= roomId %>';
const username= '<%= userName %>'
const token= '<%= token %>'



// joining the room on load
socket.emit('join room', {roomId, username, token});


//send messages
const messageInput= document.getElementById('message-input');
const sendBtn= document.getElementById('sendBtn');
sendBtn.addEventListener('click', (event)=>{
    event.preventDefault();
    const message= document.getElementById('message-input').value;
    socket.emit('private message', {message, roomId,  username, token});
    document.getElementById('message-input').value= '' ;

})
let messages=document.getElementById('messages')
messages.scrollTop = messages.scrollHeight;
// receive a message from the server
socket.on('private message', (data)=>{
const messageDiv= document.createElement('div');
 messageDiv.classList.add('message-content');
 messageDiv.classList.add(data.senderId === username ? 'sender-me' : 'sender-others')

 const chatMessage = document.createElement('div')
 chatMessage.classList.add('chat-message');
 chatMessage.innerHTML = `<p class="message-sender">${data.senderId}</p><p class="message-text">${data.message}</p>`


messageDiv.appendChild(chatMessage);
messages.appendChild(messageDiv);
messages.scrollTop = messages.scrollHeight;
})

    </script>
</body>
</html>